::selection {
 	background: #14190b; /* Safari */
}
::-moz-selection {
       background: rgba(255,255,255,0.2); /* Firefox */
}

body {
		min-width: 800px;
	
	padding: 0;
	
	background: #000 url('images/background.png');
	
	font-family: Tahoma, Arial, sans-serif;
}

padding {
	display: block;
	
	height: 64px;
	background: url('images/head.png') repeat-x center;
	
	margin-bottom: -64px;
}

br {
	clear: both;
}

body > header left {
	width: 420px;	

	float: left;
	position: absolute;
	right: 50%;
	margin-right: -60px;
	
	text-align: right;
}



body > header right {
	width: 400px;
	
	position: absolute;
	float: right;
	left: 50%;
	margin-left: 60px;
	
	text-align: left;
}


body > header {
	display: block;
	width: 900px;
	height: 64px;
	
	position: relative;
	margin: 0 auto;
	
	background: url('images/head.png') repeat-x center;
	border-bottom: 1px solid #050505;
}

body > header right {
	height: 64px;
	
	padding-top: 1px;
	
	background: url('images/shadow-in-menu.png') no-repeat 0 0;
}

body > header right p {
	display:table-cell;
	width: 340px;
	height: 32px;
	
	padding-left: 30px;
	
	color: #888;
	text-shadow: #111 1px 1px 1px;
	font-size: 8pt;
	vertical-align:middle;
}

body > header right strong {
	font-weight: bold;
	
	color: #999;
}

body > header right a {
	color: inherit;
	text-decoration: none;
	
}

body > header right a:hover,
body > header right a:visited {
color: #aaa;
}

body > header right #last-tweet {
	height: 32px;
	display: block;
}
body > header right #last-tweet > a {
	position: absolute;
	
	height: 20px;
	width: 17px;
	left: 7px;
	top: 7px;
	display: block;
	background: url('images/twitter-icon.png') no-repeat 3px 1px;
}

body > header right #last-song {
	height: 32px;
	display: block;
	margin-top: -4px;
}
body > header right #last-song > a {
	position: absolute;
	
	height: 20px;
	width: 17px;
	left: 6px;
	top: 37px;
	display: block;
	background: url('images/music-icon.png') no-repeat 3px 1px;
}


body > header right #last-tweet > a:active,
body > header right #last-song > a:active {
	background-position: 4px 2px;
}

body > header right #last-tweet > a:active {
	background-position: 4px 2px;
}
		
body > header right #last-song img {
	padding-left: 6px;
	
	vertical-align: bottom;
}

body > header h1 {
	background: url('images/title.png') no-repeat right;
	width: 222px;
	height: 37px;
	overflow: hidden;
	display: block;
	float:right;

	padding-top: 10px;
	padding-right: 7px;

	font-size: 25px;
	color: rgba(0,0,0,0);
}

body > header h1 a {
	color: rgba(0,0,0,0);
}

body > header ul#head-menu {
	position: absolute;
	top: 16px;
	width: 100%;
	right: 230px;
	
	list-style-type: none;
}

body > header ul#head-menu a {
	margin-left: 10px;
	padding: 3px;
	padding-top: 1px;
	
	font-family: Tahoma;
	color: #bababa;
	font-size: 9pt;
	text-decoration: none;
	text-shadow: #000 1px 1px 2px;
	
	text-transform: lowercase;
	opacity: 0.5;
}

body > header ul#head-menu a:hover {
	background:rgba(0,0,0,0.30);
}

body > header ul#head-menu a:active{
	background:rgba(0,0,0,0.70);
}

body > header ul#head-menu a.active,
body > header ul#head-menu a.active:hover {
	background:rgba(0,0,0,0.40);
}


body > header info.author {
	display: block;
	position: absolute;
	top: 35px;
	right: 3px;
	clear: right;
	
	width: 122px;
	height: 20px;
	background: url('images/author.png') no-repeat right -4px;
	
	padding-right: 8px;
	font-size: 14px;
	color: rgba(0,0,0,0);
}


body > header info.selected-category {	
	position: absolute;
	top: 45px;
	right: 0;
	display: block;
	width: 420px;
	clear: both;
	float: right;
	padding-left: 15px;
	
	background: url('images/select-cat-grad.png') no-repeat;
	
	text-align: left;
	color: #515131;
	font-size: 12pt;
	text-shadow: #000 0px 0px 2px;
}

body > header info.selected-category small {
	line-height: 10px;
	font-size: 9pt;
}

body > header info.selected-category:hover {
	cursor: default;
	
	color: #59593b;
}

body > header menu.select-category {
	position: absolute;
	top: 66px;
	right: 0;
	width: 500px;
	clear: both;
	float: right;
	text-align: left;
}

body > header menu.select-category case {
	float: left;
	clear: both;
	overflow: visible;
	background: url('images/select-cat-grad.png') no-repeat;
}

body > header menu.select-category case a {
	display: block;
	clear: both;
	padding-left: 15px;
	
	color: #555;
	font-size: 12pt;
	background: rgba(255,255,255,0.01);
	
	text-decoration: none;
	margin: 2px 0;
}

content {
	display: block;
	width: 900px;
	height: 500px;
	
	padding-left: 30px;
	
	margin: 0 auto;
}

content left {
	width: 420px;	

	float: left;
	margin-left: 62px;
	
	text-align: right;
}



content post {
	width: 420px;
	display: block;	
	margin-top: 10px;
	margin-left: 18px;
}

content loop post {
	padding-bottom: 30px;
	background: url('images/post-bottom.png') no-repeat 0 bottom;
	
	text-align: right;
}

.single content post {
	min-height: 400px;
}

content header {
	display: inline-block;
	
	padding-top: 40px;
	padding-bottom: 10px;
	padding-right: 15px;
}

content header date {
	display: block;
	
	text-align: left;
	
	color: #5b5b5b;
	font-family: Arial, sans-serif;
	font-size: 7pt;
	
}

content header h1 {
	display: inline-block;

	border-bottom: 1px solid #353535;

	font-size: 13pt;
	color: #809b4b;
	max-width: 580px;
	font-family: Tahoma, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	height: 20px;
}


content header h1 a {
	color: inherit;
		display: inline-block;
	text-decoration: none;
	height: 20px;
	
}
content header h1 a:hover {	
	border-bottom: 1px dashed #6c8141;
		
	}
	

content post {
		position: relative;
}

content header comments {
	display: inline-block;
	width: 97px;
	height: 82px;
	
	background: url('images/comments-counter.png') no-repeat;
	position: absolute;
	top: 10px;
	left: -82px;
	text-align: center;
	color: #101010;
	font-family: Georgia;
	font-size: 17pt;
	padding-top: 24px;
}
content header tags	{

	display: block;

	color: #5b5b5b;
	font-weight: bold;
	font-size: 7pt;
	line-height: 13px;
	height: 13px;
	text-transform: lowercase;
	margin-left: 5px;
}

content header tags a {
	color: inherit;
	margin-left: 5px;
	text-decoration: none;
}

content header tags a.category {
font-weight: normal;
	display: inline-block;
	clear: both;
	margin-top: 1px;
	margin-left: 3px;
	
	background: url('images/post-cat-tag-icon.png') no-repeat;
	height: 13px;
	padding-left: 13px;
	font-size: 7pt;
	color: #555;
	line-height: 9px;
}

content header tags a.category:hover {
	text-decoration: none;
	
	color: #4a523b;
}


content header tags a:hover {
	color: #777;
	text-decoration: underline;
}



content post p {
	width: 405px;
	margin-bottom: 10px;
	text-align: justify;
	color: #d2d2d2;
	font-size: 9pt;
	font-family: Tahoma;
	line-height: 14px;
	text-shadow: #000 0 0 2px;
	margin-left: -3px;
	
}

content post p a {
	color: #d0dbb9;
	text-decoration: none;

}
	content post p a {
		border-bottom: 1px dotted #222;

	}
		content post p a:visited {
			color: #d0dbb9;
		}

		content post p a:hover {
			text-decoration: none;
			color:#c3df8d;
		}

content post h2 {
	display: block;
	
	width: 100px;
	position:absolute;
	right: 50%;
	
	margin-right: 217px ;
	margin-left: 2px;
	margin-top: 2px;
	padding: 3px 14px 5px 8px;
	
	text-align: right;
	font-family: Tahoma, sans-serif;
	font-size: 9pt;
	font-weight: 400;
	color: #484848;
	
	/*border-right: 5px solid #111;*/
	background: url('images/left-comment-border.png') repeat-y right;
	
	
}


body > comments {
	display: block;
	
	
}

comments comment {
	display: block;
	width: 530px;
	height: 130px;
	
	margin-left: -120px;
	
	background: url('images/comment-top.png') no-repeat top right;
	
	text-align: left;
}

comments comment h2 {
		
}

/* Right */

content > right {
	display: block;
	width: 407px;	

	float: right;
	margin-left: 10px;
	padding-bottom: 35px;
	
	background: url('images/menu-border-left-bottom.png') no-repeat 2px bottom;
	
	text-align: left;
	
}

	content > right > sidebar {
		display: block;
		width: 300px;
		background: url('images/menu-border-left.png') no-repeat 2px 10px;
		padding-top: 30px;
	}

			content sidebar form {
				display: block;
				height: 10px;
				width: 260px;
				background: url('images/search-box.png') no-repeat 0 10px;
				padding-top: 10px;
				padding-bottom: 25px;
			}


			content sidebar input[type=submit] {
				display: block;
				height: 15px;
				width: 15px;
				background: url('images/search-loupe.png') no-repeat;
				overflow: hidden;
				font-size: 300em;
				border:0 none;
				
				float:left;
				margin-left: 10px;
				margin-top: 2px;
				outline:0;
			}
			
			content sidebar input[type=submit]:active {
				outline: 0;
			}

				content sidebar form input[type=text] {
					background: none;
					border: 0;
					margin-left: 5px;
					width: 180px;
					height: 16px;
					margin-top: -6px;
					
					
					font-size: 11pt;
					font-weight: bold;
					color: #6c6c6c;
					font-family: Arial, Tahoma, sans-serif;
				}

content > right panel {
	display: block;
	padding-top: 30px;
}

content > right a {
	display: inline-block;
	margin-top: 10px;
	height: 16px;
	margin-left: -4px;
	font-size: 11pt;
	padding: 1px 0;
	font-weight: bold;
	color: #6c6c6c;
	font-family: Arial, Tahoma, sans-serif;
	text-decoration: none;
	padding-left: 28px;
	margin-left:4px;
	
	background:url('images/menu-rss-icon.png') no-repeat 8px 2px ;
}

sidebar a.recent-comment {
	height: 25px;
	background:url('images/menu-comment-icon.png') no-repeat -4px 0;
	font-size: 9pt;
	padding-top: 8px;
	margin-top: 0;
	padding-left: 34px;
	font-weight: normal;
	font-style: italic;
}

sidebar a.recent-comment small {
	font-size: 7pt;
	display: block;
	font-style: normal;
	color: #333;
}

content > right  a:hover {
	border-left: 3px solid rgba(140,140,140,0.3);
	margin-left:1px;
	color: #777;
}
content > right a:active {
	color: #666;
	text-shadow: #000 0 0 3px;
	border-color:rgba(100,100,100,0.3);
}


some selector {
	display: block;
	width: 34px;
	
	background-image: url('images/image-type.png');
}

sidebar:firsr body a {
	color: inherit;
	text:decoration: none;
}

sidebar ul.categories {
	list-style-type: none;
	width: 400px;
	margin-top: 5px;
	padding-top: 5px;
	margin-left: -1px;
	padding-left: 1px;
	padding-bottom: 25px;
	background: url('images/menu-seperator-mini.png') no-repeat 0 top;
}

sidebar ul.categories li {
	width: 100px;
	height: 16px;
	margin-left:4px;
	margin-top: 10px;
	margin-bottom: -26px;
}

sidebar ul.categories li:hover,
sidebar ul.recent-posts a:hover {
	
	margin-left:1px;
	border-left: 3px solid rgba(140,140,140,0.3);
}

sidebar ul.categories li:nth-child(3n+1) {
	position: relative;
	z-index:3;
	width: 100px;
	
}

sidebar ul.categories li:nth-child(3n+2) {
	position: relative;
	z-index:2;
	width: 100px;
	padding-left:100px;

}

sidebar ul.categories li:nth-child(3n+3) {
	position: relative;
	z-index:1;
	width: 100px;
	padding-left:200px;
	margin-bottom: 10px;
}

content > right sidebar ul.categories a {
	text-transform: lowercase;
	font-weight: normal;
	margin-top: 0px;
	font-size: 9pt;
	background:url('images/menu-category-icon.png') no-repeat 8px 1px ;
	max-width:100px;
	margin-left: 0;
	line-height: 16px;
	padding-left: 28px;
	float:left;
}

content > right  ul.categories a:hover {
	border-left: none;
	margin-left: 0;
	color: #6c6c6c;
		background:url('images/menu-category-icon-hover.png') no-repeat 8px 1px ;
}
		content > right  ul.categories a:active {
			border-left: none;
			margin-left: 0;
			color: #6c6c6c;
				background:url('images/menu-category-icon.png') no-repeat 8px 1px ;
		}


sidebar h2 {
	font-size: 11pt;
	font-weight: bold;
	color: #444;
	font-family: Arial, Tahoma, sans-serif;
	padding: 10px 0 0 10px;
	
}

sidebar ul.recent-posts, 
sidebar .comments {
	
	padding-top: 10px;
background:url('images/menu-seperator.png') no-repeat 0 top;
margin-top: 20px;

}

sidebar ul.recent-posts a {
background:url('images/menu-post-icon.png') no-repeat 7px 1px ;
	font-size: 9pt;
	font-weight: normal;
	line-height: 14pt;
}
	sidebar ul.recent-posts a:visited , sidebar ul.recent-posts a.visited {
	background-image: url('images/menu-post-icon-visited.png');
	}
	






